<mat-toolbar color="primary">
  <span>My Angular App</span>
  <mat-list>
    <mat-list-item href="users">users</mat-list-item>
    <mat-list-item href="clients">Client</mat-list-item>
  </mat-list>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- 

@if(loading){
  <div>Loading...</div>
}

@if(!loading){
  <ul>
    @for (user of users; track $index) {
      <li>{{ user.name }}</li>
    }
  </ul>
}

<app-data [arr]="users"></app-data> -->
<!-- 

<app-data [arr]="this.ds.surnames"></app-data>
<app-data [arr]="this.ds.userArr"></app-data> -->