.sidenav-container {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 998; /* Ensure it's behind the profile card */
}

.sidenav {
  width: 255px;
  background-color: #f4f4f4;
}

.sidenav .mat-toolbar {
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: center; /* Center the logo */
  align-items: center;
  height: 64px; /* Adjust height as needed */
}

.mat-toolbar {
  background-color: #3f51b5;
}

.logo {
  max-height: 50px; /* Adjust size as needed */
  width: auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-expansion-panel {
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding-left: 0;
}

.mat-nav-list .mat-list-item {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.mat-nav-list .mat-list-item:hover {
  background-color: #e0e0e0;
}

.mat-nav-list .mat-list-item .mat-list-text {
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
}

.profile-card {
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 60px;
  width: 300px; /* Adjust width as needed */
  padding: 16px;
  background-color: white; /* Ensure profile card is opaque */
  border-radius: 8px; /* Rounded corners for the card */
}

.profile-image-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.profile-image {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  background-color: #ccc; /* Placeholder color */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.edit-icon {
  position: absolute;
  bottom: -10px;
  right: -5px;
}

.user-name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}

.wrap-button {
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}

.wrap-button .full_width {
  width: 100%;
}

.horizontal-line {
  margin: 16px 0;
}

.pop-out-profile {
  background-color: white;
  color: #47b872;
}

.close-button {
  z-index: 1005;

  position: absolute;
  right: 0px;
  top: 0px;
}
